* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  margin: 0 auto;
  width: 375px;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
}

:root {
  --grey: #353535;
  --grey-2: #EAEAEA;
  --green-font: #008766;
  --green: #99E2D0;
  --black: #101010;
  --blue: #89C8FA;
  --blue-2: #003A68;
  --primary:black;
  --white: #fff;
  --background-color: #F6F6F6;
  --violet: #9356DC;
}

.wrapper {
  margin: 0 auto;
}

.header {
  padding-bottom: 0.03125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header-goback {
  display: flex;
  align-items: center;
  height: 63px;
  background-color: var(--white);
}
.header-goback-link {
  width: 30px;
  height: 30px;
  padding: 9px;
  margin-left: 17px;
}

.header-logo {
  margin: 0 auto;
}
.header-logo-link {
  display: block;
  width: 197px;
  height: 36px;
  background-image: url(../../assets/images/logo/ohmyfood.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0px;
}

.footer {
  width: 23.4375rem;
  padding: 1.375rem 1.5625rem;
  background-color: var(--grey);
}
.footer-dt {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
.footer-dd {
  font-size: 1rem;
  line-height: 1.5rem;
}
.footer-dt a, .footer-dd a {
  color: var(--white);
}

.center {
  text-align: center;
}

.btn {
  width: 13.625rem;
  height: 3.125rem;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 3.125rem;
  color: var(--white);
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  border-radius: 1.5625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover, .btn:active {
  background: linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.like {
  width: 1.375rem;
  height: 1.3125rem;
  margin: 1.44rem 1.75rem 0 0;
}

.card {
  position: relative;
}
.card-img {
  background-size: cover;
}
.card .card-palette .card-img {
  background-image: url(../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.card .card-enchantee .card-img {
  background-image: url(../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.card .card-francaise .card-img {
  background-image: url(../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.card .card-delice .card-img {
  background-image: url(../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.card .card-description {
  display: flex;
  justify-content: space-between;
}

main,
.content {
  background-color: var(--background-color);
}

.card {
  margin-top: 0px;
}
.card-img {
  border-radius: 0px;
  width: 23.4375rem;
  height: 17.1875rem;
  margin-bottom: 2rem;
}
.card-title {
  padding: 2rem 0 0 1.061rem;
  font-family: Shrikhand;
  font-size: 1.75rem;
}
.card-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--black);
  background-image: url(../../assets/images/icon/Background.png);
  background-size: cover;
}

.new,
.card-paragraph {
  display: none;
}

.like {
  margin-top: 2.44rem;
}

.menu {
  background-color: var(--background-color);
}
.menu .entrees {
  width: 21.8125rem;
}
.menu > div {
  margin: 0.75rem auto;
}
.menu-titre {
  margin-top: 2.5rem;
  color: black;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  background-color: var(--background-color);
  line-height: 1.6875rem;
  background-image: url(../../assets/images/icon/Line\ 2.png);
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.menu-list {
  margin: 0 auto;
  padding: 0.94rem;
  width: 21.8125rem;
  height: 4.3125rem;
  border-radius: 0.94019rem;
  background: var(--white);
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}
.menu-list-name h4 {
  font-size: 1.125rem;
  font-weight: 500;
}
.menu-list-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-list-description p {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  align-self: stretch;
}
.menu-list-description span {
  font-size: 0.94019rem;
  font-weight: 700;
  color: #353535;
}

.btn {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/*# sourceMappingURL=restaurant.css.map */
