@use "base";

<<<<<<< HEAD
$width-mobile:23.4375rem;
$width-max-mobile:48rem;
$width-desktop:60rem;
$width-max-desktop: 90rem;



main {
    background-color: var(--background-color);
    @media (min-width: $width-desktop) {
=======
main {
    background-color: var(--background-color);
    @media (min-width:90rem) {
>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
    background-color: #fff;
    }
}

<<<<<<< HEAD
=======



>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
.card {
    margin-top: 0px;
    //  .card-description {
    //     
           
            
    //     }
    &-img {
        border-radius: 0px;
        width: 100%;
        // width: 23.4375rem;
        height: 17.1875rem;
    }

    &-title {
        padding: 2rem 0 0 1.061rem;
        font-family: Shrikhand;
        font-size: 1.75rem;
    }

    .card-description {
<<<<<<< HEAD
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -0.3rem;

        width: 100%;
        color: var(--black);
        background-image: url(../../assets/images/icon/card-description.svg);
        background-size: cover;
        @media (min-width:700px) {
            justify-content: center;
        }
        @media (min-width:$width-desktop){
=======
        position: absolute;
        bottom: -0.3rem;
        width: 100%;
        color: var(--black);
        // background-image: url(../../assets/images/icon/Background.png);
        background-image: url(../../assets/images/icon/card-description.svg);
        background-size: cover;
        @media (min-width:700px) {
            display: flex;
            justify-content: center;
        }
        @media (min-width:90rem) {
>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
            width: 66.9375rem;
            left: 0;
            right: 0;
            margin: auto;
        }
<<<<<<< HEAD
    }
    .like label{
        position: static;
=======
>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
    }
}

.new {
    display: none;
}
.like {
    margin-top: 2.44rem;
    @media (min-width:400px) {
        margin-left: 1.5rem;
    }
<<<<<<< HEAD
}






.menu-content {
    @media (min-width:$width-desktop){
        width: 65.9375rem;
        background-color: var(--background-color);
        overflow: hidden;
    }
    
}

=======
}


// menu
.menu-content {
    @media (min-width:90rem) {
        width: 65.9375rem;
        background-color: var(--background-color);
        overflow: hidden;
    }
    
}

>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
.menu {
    background-color: var(--background-color);
    .entrees {
        width: 21.8125rem;
        @media (min-width:700px) {
            width: 39.625rem;
        }
    }
    &>div {
        margin: 0.75rem auto;
    }
    &-titre {
    margin-top: 2.5rem;
    color: black;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    background-color: var(--background-color);
    line-height: 1.6875rem;
    background-image: url(../../assets/images/icon/Line\ 2.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    }
}

<<<<<<< HEAD

.menu-list {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
=======
.menu-list {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    

>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
    width: 21.8125rem;
    height: 4.3125rem;
    padding: 0.8rem;

    border-radius: 0.94019rem;
    background: var(--white);
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
<<<<<<< HEAD
    
=======
>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
    @media (min-width:700px) {
        width: 39.625rem;
    }

<<<<<<< HEAD
    .select-btn {
        position: absolute;
        display: block;
        border: none;
        outline: none;
        transition: all 400ms ease-in-out;
        right: -60px; 
        top: 0.4px;
    }
 

.right {
    flex: none;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:end;
}

.prix {
    display: block;
    position: absolute;
    right:0.8rem;
    top: 2.5rem;
    width: 1.6875rem;
    height: 1.125em;
    font-size: 0.94019rem;
    font-weight: 700;
    color: #353535;
    transition: all 400ms ease-in-out;
    }


       
    .menu-list-description-detail {
        font-size: 0.94019rem; 
        height: 1.1875rem;
        margin-top: 0.31rem;
        font-weight: 300;
        position: absolute;
        left: 0.8rem;
        top: 2.1rem;
        right: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      
    }
   
}


@for $i from 1 through 10 {
    #toggle-#{$i} {display: none;}
}


@media (max-width:700px) {

.menu-list label {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 21.8125rem;
    height: 4.3125rem;
    opacity: 0;
    z-index: 3;
}  


@for $i from 1 through 10{
    #toggle-#{$i}:checked ~ .prix {transform: translate(-60px);}
    
}
@for $i from 1 through 10{
    #toggle-#{$i}:checked ~ .select-btn {transform: translate(-60px);}
}



@for $i from 1 through 10{
    #toggle-#{$i}:checked ~ .menu-list-description-detail {right: 120px;}
}
}

// effet hover

@media (min-width:700px) {
    .menu-list label {
        z-index: -1;
    }
    .menu-list:hover {
        .prix{
            transform: translateX(-220%);
        }
        .select-btn {
            transform: translateX(-100%);
=======
        &-name {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 0.94rem;

            h4 {
                width: 14.25rem;
                height: 1.3125rem;
                font-size: 1.125rem;
                font-weight: 500;
                text-overflow: ellipsis;
                white-space: nowrap;
                // text-wrap: nowrap;
            }
>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
        }
    }
    
}
    .menu-list-name {
        
        height: 1.3125rem;
        font-size: 1.125rem;
        font-weight: 500;
        text-overflow: ellipsis;
        white-space: nowrap;
        
            
    }
<<<<<<< HEAD
   









=======
    .select-btn{
        display: none;
    }
            
    .menu-list-description {
    display: flex;
    justify-content: space-between;
    // width: 100%;
    // align-items:center ;
    
    &-detail {
        
        width: 14.25rem;
        font-size: 0.94019rem;
        font-weight: 300;
        white-space: nowrap;
        @media (min-width:734px) {
            flex: 1 0 14.25rem;
        }
    }
    .prix {
        // padding-right: 0.94rem;
        font-size: 0.94019rem;
        font-weight: 700;
        color: #353535;
        }
    }
.menu-list:hover,
.menu-list:active {
    &-name {
        overflow: hidden;
        flex: 1 0 18.125rem;
    }
    .select-btn {
        display: block;
        border: none;
        outline: none;
        // transition: all 1s;
    }
    .menu-list-description-detail {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}  
    
>>>>>>> 4b3b3d416616c5287e964086eeaefc1059f0dc09
.btn {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    flex: 0;
}

