

    @use "base";
    
    .location {
        height: 3.125rem;
        background-color: var(--grey-2);
        line-height: 3.125rem;
        font-weight: 700;
        text-align: center;
        img {
            width: 0.75rem;
            height: 1rem;
            margin-left: 1.06rem;
        }
    }

    // nouveau
    .bag-nouveau {
        width: 5rem;
        height: 1.8125rem;
        border-radius: 0.125rem;
        background: var(--Green, #99E2D0);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--Green-Font, #008766);
        font-family: Roboto;
        font-size: 0.875rem;
        // font-style: normal;
        font-weight: 500;
        line-height: 1.8125rem;
        text-align: center;
    }


    // section intro
    .intro {
        width: 100%;
        height: 17.94rem;
        background-color: #F6F6F6;
        &-titre {
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        padding: 1.5rem 0;
        word-wrap:break-word; width: 260px;
        }
        &-paragraphe {
        font-size: 1.125rem;
        font-weight: 300;
        text-align: center;
        }
        .btn {
         margin: 1.68rem auto 3.56rem;
        }
    }
    .section-fonctionnnement {
        height: 27.5rem;
        margin: 0 1.25rem;
        &-h2 {
        margin-top: 3rem;
        }
    }
    
    .fonctionnement {

        &-btnnav {
            position: relative;
            margin-top: 1.56rem;
            margin-left: 2.03rem;
            text-align: center;
            padding-top: 1.53rem;
            width: 20.15538rem;
            height: 4.52369rem;
            border-radius: 1.25rem;
            background: var(--Background, #F6F6F6);
            /* Shadow/Instructions */
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            }
            &-span {
                margin-left: 1.69rem;
                font-size: 1rem;
                font-weight: 500;
            }
        }

        .numbre {
            position: absolute;
            top: 1.68rem;
            left: -14px;
            padding-top: 0.1rem;
            height: 1.5rem;
            width: 1.5rem;
            text-align: center;
            border-radius: 50%;
            background-color: var(--primary);
            i {
                font-size: 0.88638rem;
                font-weight: 500;
                font-style: normal;
                color: #fff;
                
            }
        }

    .section-restaurant {
        height: 76.63rem;
        background-color: var(--background-color);
        margin-top: 4.25rem;
        padding-left: 1.13rem;
        &-title {
            padding-top: 3.38rem ;
            // padding-bottom: 1.5rem;
        }
    }

    .card {
        border-radius: 0.9375rem;

        background: #FFF;

        height: 15.6875rem;
        width: 21.25rem;
        margin-top: 1.12rem;
        position: relative;
       

    }

    .card {
        border-radius: 0.9375rem;

        background: #FFF;

        height: 15.6875rem;
        width: 21.25rem;
        margin-top: 1.12rem;
        // position: relative;


        &-img {
            // background-image: url(../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            // background-size:cover;
            width: 21.25rem;
            height: 10.6875rem;
            border-radius: 0.9375rem 0.9375rem 0 0;
            // object-fit: cover;
        }

        &-title {
            font-size: 1.125rem;
            font-weight: 700;
            color: var(--black);
            padding: 1rem 0 0 0.81rem;
        }

        &-paragraph {
            font-size: 1.0625rem;
            font-weight: 300;
            color: var(--black);
            padding: 0.31rem 0 0.75rem 0.81rem;
        }

        // .card-palette {
        //     .card-img {
        //         background-image: url(../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        //     }
        // }

        // .card-enchantee {
        //     .card-img {
        //         background-image: url(../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        //     }
        // }
        // .card-francaise {
        //     .card-img {
        //         background-image: url(../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        //     }
        // }
        // .card-delice {
        //     .card-img {
        //         background-image: url(../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        //     }
        // }

        .new {
            position: absolute;
            top: 0.6225rem;
            right: 0.94rem;
        }
        // .card-description {
        //     display: flex;
        //     justify-content: space-between;
            
        // }
    }

